* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url("bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-color: #191919;
}

h1 {
    margin: 0;
    padding: 5px 5px 5px 5px;
}

h2 {
    margin-left: 15px;
    margin-top: 20px;
    text-align: center;
    color: #FFFFFF;
}

p {
    margin: 0 0 0 5px;
    padding: 0 5px 0 5px;
    text-align: center;
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: #FFFFFF;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    text-decoration: none;
}

main {
    margin-bottom: -330px;
    height: 300px;
    width: 80%;
}

button {
    background-color: rgb(235, 54, 114);
    width: 200px;
    color: #FFFFFF;
    height: 35px;
    border: none;
    font-weight: bold;
    font-size: 1.25em;
}

button:disabled {
    display: none;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

legend {
  font-size: 2em;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #FFFFFF;
}

.navbar_container {
    background-color: #191919;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FFFFFF;
    height: 50px;
}

.navbar_items {
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 37px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100vh;
    max-height: 500px;
}

.view_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
}

.start_quiz_div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.start_quiz_view_div {
    display: flex;
    flex-direction: column;
}

.answer_selections {
    width:  100%;
    margin-top: 20px;
}

.answer_div {
    border: 1px solid #ff3d7f;
    width: 100%;
    font-size: 1.5em;
    margin: 0 auto 2px auto;
    color: #ffffff;
}

.answer_div>label {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  display: block;
}

.answer_div>input {
  display: none;
}

.content_container {
    display: flex;
    justify-content: center;
    height: 450px;
    margin-top: 20px;
}

.next_btn_container {
    margin-top: 20px;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.result_text {
    text-align: center;
    margin-top: 20px;
    font-size: 1.5em;
    color: #FFFFFF;
}

.summary_container {
    display: flex;
    flex-direction: column;
    height: 300px;
}
.results_container {
    text-align: center;
    margin-top: 20px;
    font-size: 1.5em;
    height: 100px;
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.hidden {
   display: none;
}

.answer_button:disabled {
    background-color: transparent;
}

.correct,
.correct:disabled {
   background-color: #3FB8AF;
   border: 1px solid #3FB8AF;
   color: #ffffff;
}

.incorrect,
.incorrect:disabled {
    background-color: rgb(235, 54, 114);
    border: 1px solid rgb(235, 54, 114);
    color: #ffffff;
}

.answer_text {
    margin-top: 50px;
}

.result {
    font-size: 2em;
}

.summary_header {
    font-size: 2em;
}

.result_button_box {
    margin-top: 50px;
}

#nav_restart {
    border: 1px solid rgb(235, 54, 114);
}


#correct_attempt, #question_count {
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    color: #ff3d7f;
}

@media (max-width: 650px) {

    legend {
      font-size: 1.5em;
    }

    .navbar_container {
        flex-wrap: wrap;
        padding: 5px;
        height: 75px;
    }

    h1 {
        margin-bottom: 10px;
        margin-left: 5px;
    }

    .navbar_items {
        height: 1em;
        margin-left: 10px;
    }
    
    .answer_div {
      width: 80%;
    }
}

@media (max-width: 400px) {

    legend {
      font-size: 1.5em;
    }

    .navbar_container {
        flex-wrap: wrap;
        padding: 5px;
        height: 75px;
    }

    h1 {
        margin-bottom: 10px;
        margin-left: 5px;
    }

    .navbar_items {
        height: 1em;
        margin-left: 10px;
    }
    
    .answer_div {
      width: 80%;
    }

}