
@media (min-width: 400px) {
    h1 {
        font-size: 1vm;
    }
}

body {
    background-color: #393f4d;
    color: #d4d4dc;
    margin: 0;
}

h1 {
    margin-bottom: 25px;
}

h2 {
    margin-left: 15px;
    margin-top: 20px;
    text-align: center;
}

p {
    margin-left: 5px;
    padding: 5px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #d4d4dc;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    text-decoration: none;
}

button {
    margin-top: 10px;
    background-color: #d4d4dc;
    border: none;
    width: 125px;
    height: 20px;
}

button:disabled {
    background-color: #393f4d;
    border: 1px solid #d4d4dc;
    color: #d4d4dc;
    width: 125px;
    height: 20px;
}

.navbar_container {
    background-color: #2C4870;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar_items {
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.nav_item {
   margin-left: 5px;
}

.container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.start_quiz_div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.start_quiz_view_div {
    display: flex;
    flex-direction: column;
}

.result_text {
    text-align: center;
    margin-top: 20px;
    font-size: 1.5em;
}

.next_button1, .restart1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hidden {
   display: none;
}

.answer_button:disabled {
    background-color: transparent;
}

.correct,
.correct:disabled {
   background-color: green;
}

.incorrect,
.incorrect:disabled {
    background-color: red;
}

.answer_text {
    margin-top: 50px;
}

.result {
    font-size: 2em;
}

.summary_header {
    font-size: 2em;
}

.result_button_box {
    margin-top: 50px;
}


